.line{
    height:11px;
    width:100px;
    background-color: springgreen;
}

#apps{
    background-color:limegreen;
    height:700px;
    width:100%;
}


#mycarousel{
    background-color: springgreen;
    padding-top:50px;
}










